.active-button {
  width: 160px;
  height: 48px;
  border: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background-color: #3141c5;
  border-radius: 2px;
  box-shadow: none;
  transition: transform 0.5s;
  cursor: pointer;
}
.active-button:hover {
  transform: scale(1.05);
}
.active-button:active {
  color: #f5c651;
}
.active-button:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.learn-more-button {
  display: inline-block;
  background-color: #fff;
  color: #3040c4;
  padding: 17px 28px;
  font-weight: 700;
  line-height: 13px;
  transition: transform 0.5s;
  cursor: pointer;
}
.learn-more-button:hover {
  transform: scale(1.05);
}
.learn-more-button:active {
  color: #ed526d;
}
.learn-more-button:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.header {
  line-height: 25px;
  padding-top: 39px;
  background-color: #f3c6bd;
}
.header__top {
  display: flex;
  height: 62px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
.logo__name {
  font-size: 20px;
  font-weight: 700;
}
.logo__description {
  color: rgba(43, 41, 45, 0.6);
}

.navigation {
  margin-left: auto;
  margin-right: 57px;
}
.navigation__item {
  display: inline-block;
  margin-top: 7px;
  text-decoration: none;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__item:not(:last-child) {
  margin-right: 42px;
}
.navigation__arrow {
  display: inline-block;
  margin-left: 11px;
  padding-bottom: 2px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png");
  background-repeat: no-repeat;
  width: 8px;
  height: 5px;
}

.content {
  flex-grow: 1;
}

.about {
  padding-top: 77px;
  padding-bottom: 76px;
  background-color: #f4f5f7;
}
.about__wrapper {
  display: flex;
}
.about__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 22px;
}
.about__article {
  flex-basis: 555px;
  font-size: 22px;
  line-height: 32px;
}
.about__article:not(:last-child) {
  margin-right: 29px;
}
.about__text {
  margin: 0;
}

.active-button {
  width: 160px;
  height: 48px;
  border: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background-color: #3141c5;
  border-radius: 2px;
  box-shadow: none;
  transition: transform 0.5s;
  cursor: pointer;
}
.active-button:hover {
  transform: scale(1.05);
}
.active-button:active {
  color: #f5c651;
}
.active-button:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.learn-more-button {
  display: inline-block;
  background-color: #fff;
  color: #3040c4;
  padding: 17px 28px;
  font-weight: 700;
  line-height: 13px;
  transition: transform 0.5s;
  cursor: pointer;
}
.learn-more-button:hover {
  transform: scale(1.05);
}
.learn-more-button:active {
  color: #ed526d;
}
.learn-more-button:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.headline__wrapper {
  padding-top: 77px;
  padding-bottom: 77px;
}
.headline__content {
  position: absolute;
  max-width: 754px;
  z-index: 1;
}
.headline__title {
  margin-top: 0;
  width: 754px;
  height: 165px;
  font-size: 80px;
  line-height: 78px;
  letter-spacing: -1px;
  margin-bottom: 32px;
}
.headline__description {
  width: 464px;
  height: 102px;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 60px;
}
.headline__active-button {
  margin-right: 4px;
}
.headline__banner {
  display: block;
  position: relative;
  top: 7px;
  right: -105px;
  margin-left: auto;
  max-width: 100%;
}

.footer {
  max-height: 389px;
  padding-top: 43px;
}
.footer__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}
.footer__description {
  margin-top: 22px;
  margin-bottom: 31px;
  color: rgba(43, 41, 45, 0.6);
  line-height: 26px;
}
.footer__line {
  border: 1px solid #2b292d;
  opacity: 0.1;
}
.footer__links {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.about__company {
  flex-basis: 33%;
  margin-right: 111px;
}

.downloads {
  display: flex;
}
.downloads__img_appleapp {
  width: 135px;
  height: 40px;
  cursor: pointer;
}
.downloads__img_googleapp {
  width: 116px;
  height: 40px;
  cursor: pointer;
}
.downloads__link:not(:last-child) {
  margin-right: 10px;
}

.additional-navigation {
  display: flex;
  flex-grow: 1;
}
.additional-navigation__column:not(:last-child) {
  margin-right: 90px;
}

.nav-links__title {
  margin-bottom: 18px;
}
.nav-links__list {
  margin: 0;
  padding: 0;
  line-height: 30px;
  list-style-type: none;
}
.nav-links__list-item:not(:last-child) {
  margin-bottom: 6px;
}
.nav-links__list-link {
  color: rgba(43, 41, 45, 0.6);
}

.terms__links {
  color: rgba(43, 41, 45, 0.6);
  font-size: 14px;
  line-height: 22px;
}
.terms__links:not(:last-child) {
  margin-right: 13px;
}

.social-links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.social-links__item:not(:last-child) {
  margin-right: 20px;
}

.active-button {
  width: 160px;
  height: 48px;
  border: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background-color: #3141c5;
  border-radius: 2px;
  box-shadow: none;
  transition: transform 0.5s;
  cursor: pointer;
}
.active-button:hover {
  transform: scale(1.05);
}
.active-button:active {
  color: #f5c651;
}
.active-button:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.learn-more-button {
  display: inline-block;
  background-color: #fff;
  color: #3040c4;
  padding: 17px 28px;
  font-weight: 700;
  line-height: 13px;
  transition: transform 0.5s;
  cursor: pointer;
}
.learn-more-button:hover {
  transform: scale(1.05);
}
.learn-more-button:active {
  color: #ed526d;
}
.learn-more-button:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.customers {
  padding-top: 30px;
  padding-bottom: 106px;
}
.customers__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.customers__logo {
  filter: brightness(0);
}

.features {
  padding-bottom: 103px;
  position: relative;
}
.features::before {
  content: "";
  position: absolute;
  top: 257px;
  left: -37px;
  width: 167px;
  height: 167px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/hidden-ouch.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.features__inner {
  max-width: 462px;
}
.features__subtitle {
  margin-bottom: 24px;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
}
.features__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
}
.features__description {
  margin: 0;
  margin-bottom: 42px;
  font-size: 24px;
  line-height: 34px;
}
.features__advantage {
  border-bottom: 3px solid #3142c6;
  margin-bottom: 22px;
}
.features__subtitle-aquire {
  position: relative;
  margin-bottom: 8px;
  padding-left: 41px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #3142c6;
}
.features__subtitle-aquire::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-compas.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.features__aquire-description {
  padding: 0;
  line-height: 26px;
  margin-bottom: 20px;
  margin-top: 7px;
}
.features__item {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}
.features__item_building {
  position: relative;
  padding-left: 38px;
  padding-bottom: 21px;
  margin-bottom: 21px;
  border-bottom: 1px solid rgba(43, 41, 45, 0.1490196078);
}
.features__item_building::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 25px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-building.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.features__item_bucket {
  position: relative;
  padding-left: 37px;
  padding-bottom: 21px;
  border-bottom: 1px solid rgba(43, 41, 45, 0.1490196078);
}
.features__item_bucket::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-bucket.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.features__banner {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.inbox {
  background-color: #fcf0e3;
  padding-top: 100px;
  padding-bottom: 100px;
}
.inbox__inner {
  display: flex;
}
.inbox__img {
  max-width: 100%;
  flex-basis: 425px;
  flex-grow: 1;
  margin-right: 161px;
}
.inbox__img-decor {
  margin-bottom: 15px;
}
.inbox__img-caption {
  text-align: right;
}
.inbox__content {
  flex-basis: 519px;
  flex-grow: 1;
}
.inbox__subtitle {
  margin: 0;
  margin-bottom: 24px;
  padding-left: 30px;
  padding-right: 30px;
  color: #f1592b;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
}
.inbox__title {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
}
.inbox__text {
  padding-left: 30px;
  max-width: 500px;
  margin-bottom: 44px;
  font-size: 24px;
  line-height: 34px;
}
.inbox__card {
  background-color: #fff;
  padding: 30px;
}

.blockquote {
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 26px;
}

.cite-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  padding-left: 54px;
}
.cite-inner::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/user-avatar.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.cite-inner__author {
  font-weight: 700;
}
.cite-inner__position {
  color: rgba(43, 41, 45, 0.6);
}

.communication {
  padding-top: 110px;
  padding-bottom: 110px;
}
.communication__inner {
  display: flex;
  flex-direction: column;
}
.communication__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.communication__content {
  display: flex;
  flex-direction: column;
  flex-basis: 462px;
}
.communication__subtitle {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #0189d1;
}
.communication__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
}
.communication__top-text {
  margin: 0;
  margin-bottom: 39px;
  font-size: 24px;
  line-height: 34px;
}
.communication__button {
  margin-bottom: 87px;
}
.communication__decor-line {
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  max-width: 150px;
}
.communication__img {
  margin-bottom: 15px;
}
.communication__img-capture {
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}
.communication__bottom {
  display: flex;
}
.communication__item {
  flex-basis: 33.3%;
}
.communication__item:not(:last-child) {
  margin-right: 30px;
}
.communication__item-link {
  color: #3040c4;
  font-weight: 700;
  text-decoration: underline;
}

.audience {
  padding-top: 110px;
  padding-bottom: 110px;
  background-color: rgba(0, 161, 198, 0.137254902);
}
.audience__top {
  margin: 0 auto;
  max-width: 555px;
  text-align: center;
  margin-bottom: 111px;
}
.audience__subtitle {
  margin: 0;
  margin-bottom: 24px;
  font-size: 22px;
  line-height: 34px;
}
.audience__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
}
.audience__text {
  margin: 0;
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 34px;
}
.audience__bottom {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.audience__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 262px;
  height: 300px;
  background-color: #fff;
  border-radius: 8px;
  transition: background-color 0.5s;
  cursor: pointer;
}
.audience__item:hover {
  background-color: #3141c5;
}
.audience__img-capture {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}

.audience-button {
  margin-right: 10px;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: #2b292d;
  background-color: #fff;
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

a {
  color: #2b292d;
  text-decoration: none;
  transition: color 0.5s;
  cursor: pointer;
}
a:hover {
  color: #3040c4;
}

/*# sourceMappingURL=styles.css.map */
