.active-button {
  width: 160px;
  height: 48px;
  border: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background-color: #3040c4;
  border-radius: 2px;
  cursor: pointer;
}

.learn-more-button {
  background-color: #fff;
  color: #3040c4;
  padding: 14px 28px;
  font-weight: 700;
  line-height: 13px;
  cursor: pointer;
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  line-height: 25px;
  padding-top: 39px;
  background-color: #f3c6bd;
}
.header__top {
  display: flex;
  height: 62px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
.logo__name {
  font-size: 20px;
  font-weight: 700;
}
.logo__description {
  color: rgba(43, 41, 45, 0.6);
}

.navigation {
  margin-left: auto;
  margin-right: 57px;
}
.navigation__item {
  display: inline-block;
  margin-top: 7px;
  text-decoration: none;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__item:not(:last-child) {
  margin-right: 42px;
}
.navigation__arrow {
  display: inline-block;
  margin-left: 11px;
  padding-bottom: 2px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png");
  background-repeat: no-repeat;
  width: 8px;
  height: 5px;
}

.content {
  flex-grow: 1;
}

.about {
  padding: 76px 0;
  background-color: #f4f5f7;
}
.about__wrapper {
  display: flex;
}
.about__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 22px;
}
.about__article {
  flex-basis: 555px;
  font-size: 22px;
  line-height: 32px;
}
.about__article:not(:last-child) {
  margin-right: 29px;
}
.about__text {
  margin: 0;
}

.active-button {
  width: 160px;
  height: 48px;
  border: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background-color: #3040c4;
  border-radius: 2px;
  cursor: pointer;
}

.learn-more-button {
  background-color: #fff;
  color: #3040c4;
  padding: 14px 28px;
  font-weight: 700;
  line-height: 13px;
  cursor: pointer;
}

.headline__wrapper {
  padding: 77px 0;
}
.headline__content {
  position: absolute;
  max-width: 754px;
  z-index: 1;
}
.headline__title {
  margin-top: 0;
  width: 754px;
  height: 165px;
  font-size: 80px;
  line-height: 78px;
  letter-spacing: -1px;
  margin-bottom: 32px;
}
.headline__description {
  width: 464px;
  height: 102px;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 60px;
}
.headline__active-button {
  margin-right: 4px;
}
.headline__banner {
  position: relative;
  top: 7px;
  right: -105px;
  margin-left: auto;
  width: 796px;
  height: 448px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/ouch.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer {
  max-height: 389px;
  padding-top: 43px;
}
.footer__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}
.footer__description {
  margin-top: 22px;
  margin-bottom: 31px;
  color: rgba(43, 41, 45, 0.6);
  line-height: 26px;
}
.footer__line {
  border: 1px solid rgb(43, 41, 45);
  opacity: 0.1;
}
.footer__links {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.about__company {
  flex-basis: 33%;
  margin-right: 111px;
}

.downloads {
  display: flex;
}
.downloads__img_appleapp {
  width: 135px;
  height: 40px;
  cursor: pointer;
}
.downloads__img_googleapp {
  width: 116px;
  height: 40px;
  cursor: pointer;
}
.downloads__link:not(:last-child) {
  margin-right: 10px;
}

.additional-navigation {
  display: flex;
  flex-grow: 1;
}
.additional-navigation__column:not(:last-child) {
  margin-right: 90px;
}

.nav-links__title {
  margin-bottom: 18px;
}
.nav-links__list {
  margin: 0;
  padding: 0;
  line-height: 30px;
  list-style-type: none;
}
.nav-links__list-item:not(:last-child) {
  margin-bottom: 6px;
}
.nav-links__list-link {
  color: rgba(43, 41, 45, 0.6);
}

.terms__links {
  color: rgba(43, 41, 45, 0.6);
  font-size: 14px;
  line-height: 22px;
}
.terms__links:not(:last-child) {
  margin-right: 13px;
}

.social-links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.social-links__item:not(:last-child) {
  margin-right: 20px;
}

.active-button {
  width: 160px;
  height: 48px;
  border: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background-color: #3040c4;
  border-radius: 2px;
  cursor: pointer;
}

.learn-more-button {
  background-color: #fff;
  color: #3040c4;
  padding: 14px 28px;
  font-weight: 700;
  line-height: 13px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: rgb(43, 41, 45);
  background-color: #fff;
}

a {
  color: rgb(43, 41, 45);
  text-decoration: none;
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
