.about {
  padding-top: 46px;
  padding-bottom: 46px;
  @include for-large-up {
    padding-top: 77px;
    padding-bottom: 76px;
  }
  background-color: #f4f5f7;
  &__wrapper {
    display: flex;
    flex-direction: column;
    @include for-large-up {
      flex-direction: row;
    }
  }
  &__title {
    margin-bottom: 11px;
    font-size: 22px;
  }

  &__article {
    flex-basis: auto;
    font-size: 22px;
    line-height: 32px;
    @include for-large-up {
      flex-basis: 555px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
      @include for-large-up {
        margin-right: 29px;
        margin-bottom: 0;
      }
    }
  }
}
