@import 'variables';

.communication {
  padding-top: 110px;
  padding-bottom: 110px;
  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-basis: 462px;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: $text-color-lightblue;
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    letter-spacing: -0.5px;
  }

  &__top-text {
    margin: 0;
    margin-bottom: 39px;
    font-size: 24px;
    line-height: 34px;
  }
  &__button {
    margin-bottom: 87px;
  }

  &__decor-line {
    border: 1px solid #0000001a;
    max-width: 150px;
  }

  &__img {
    margin-bottom: 15px;
  }

  &__img-capture {
    text-align: center;
    color: $text-color-secondary;
  }

  &__bottom {
    display: flex;
  }

  &__item {
    flex-basis: 33.3%;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__item-link {
    color: $text-color-darkblue;
    font-weight: 700;
    text-decoration: underline;
  }
}
