@import 'variables';

.communication {
  padding-top: 50px;
  padding-bottom: 50px;
  @include for-large-up {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 33px;
    @include for-large-up {
      flex-direction: row;
      margin-bottom: 43px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-basis: 462px;
  }

  &__subtitle {
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: $text-color-lazur;
    @include for-large-up {
      margin-bottom: 24px;
    }
  }

  &__title {
    margin-bottom: 18px;
    font-size: 40px;
    letter-spacing: -0.36px;
    @include for-large-up {
      margin-bottom: 30px;
      font-size: 56px;
      letter-spacing: -0.5px;
    }
  }

  &__top-text {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 34px;
    @include for-large-up {
      margin-bottom: 39px;
    }
  }
  &__button {
    margin-bottom: 40px;
    @include for-large-up {
      margin-bottom: 87px;
    }
  }

  &__decor-line {
    display: none;
    @include for-large-up {
      display: block;
      max-width: 150px;
      border: 1px solid #0000001a;
    }
  }

  &__decor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 40px;
    margin-left: 0;
    @include for-large-up {
      margin-top: -12px;
      margin-right: 62px;
      margin-bottom: 0;
    }
  }

  &__img {
    max-width: 100%;
    margin-bottom: 17px;
    @include for-large-up {
      max-width: auto;
    }
  }

  &__img-capture {
    text-align: center;
    color: $text-color-secondary;
    font-size: 14px;
    line-height: 22px;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    @include for-large-up {
      flex-direction: row;
    }
  }

  &__decor-line_mobile {
    display: block;
    max-width: 150px;
    border: 1px solid #0000001a;
    @include for-large-up {
      display: none;
    }
  }

  &__item {
    flex-basis: 33.3%;
    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 33px;
      @include for-large-up {
        margin-right: 29px;
        margin-bottom: 0;
      }
    }
  }
  &__item-text {
    margin-bottom: 5px;
    line-height: 26px;
  }

  &__item-link {
    color: $text-color-darkblue;
    font-weight: 700;
    text-decoration: underline;
  }
}
