.active-button {
  width: 160px;
  height: 48px;
  border: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background-color: $bc-color-accent;
  border-radius: 2px;
  cursor: pointer;
}

.learn-more-button {
  background-color: #fff;
  color: $bc-color-accent;
  padding: 14px 28px;
  font-weight: 700;
  line-height: 13px;
  cursor: pointer;
}
