.customers {
  padding-top: 0;
  padding-bottom: 48px;
  @include for-large-up {
    padding-bottom: 106px;
    padding-top: 30px;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    @include for-large-up {
      flex-wrap: nowrap;
    }
  }

  &__list-items {
    display: flex;
    justify-content: space-around;
    flex: 1;
    border-bottom: 1px solid $border-color;
    @include for-large-up {
      flex: auto;
      justify-content: space-between;
      width: 100%;
      border-bottom: none;
      &:not(:last-child) {
        @include adaptiv-padding-right(138, 50);
      }
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 107px;
    height: 94px;
    padding-right: 0;
    @include for-large-up {
      width: auto;
      height: auto;
    }
    &:not(:last-child) {
      border-right: 1px solid $border-color;
      @include for-large-up {
        border-right: none;
      }
      @include for-medium-up {
        @include adaptiv-padding-right(30, 20);
      }
    }
  }

  &__logo {
    filter: brightness(0);
    max-width: 80%;
    @include for-large-up {
      max-width: 100%;
    }
  }

  &_feedback {
    padding-top: 0;
    padding-bottom: 39px;
    @include for-large-up {
      padding-top: 43px;
      padding-bottom: 76px;
    }
  }
}
