.customers {
  padding-top: 30px;
  padding-bottom: 106px;
  &_feedback {
    padding-top: 43px;
    padding-bottom: 76px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__logo {
    filter: brightness(0);
  }
}
