@import 'variables.scss';
.features {
  padding-bottom: 103px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 257px;
    left: -37px;
    width: 167px;
    height: 167px;
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/hidden-ouch.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -193px;
    width: 1086px;
    height: 597px;
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/invision-screen.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__inner {
    max-width: 462px;
  }

  &__subtitle {
    margin-bottom: 24px;
    font-size: 22px;
    line-height: 34px;
    color: #009b4d;
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }

  &__description {
    margin: 0;
    margin-bottom: 42px;
    font-size: 24px;
    line-height: 34px;
  }

  &__advantage {
    border-bottom: 3px solid #3142c6;
    margin-bottom: 22px;
  }

  &__subtitle-aquire {
    position: relative;
    margin-bottom: 8px;
    padding-left: 41px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #3142c6;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-compas.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  &__aquire-description {
    padding: 0;
    line-height: 26px;
    margin-bottom: 20px;
    margin-top: 7px;
  }

  &__item {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    &_building {
      position: relative;
      padding-left: 38px;
      padding-bottom: 21px;
      margin-bottom: 21px;
      border-bottom: 1px solid #2b292d26;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 23px;
        height: 25px;
        background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-building.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }

    &_bucket {
      position: relative;
      padding-left: 37px;
      padding-bottom: 21px;
      border-bottom: 1px solid #2b292d26;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 22px;
        height: 22px;
        background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-bucket.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }
}
