@import 'global.scss';

.header {
  padding-top: 0;
  line-height: 25px;
  background-color: $bc-color-pink;
  overflow-x: hidden;
  @include for-large-up {
    padding-top: 39px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 62px;
    padding: 0 10px;
    background-color: #fff;

    @include for-large-up {
      max-width: 1160px;
      margin: 0 auto;
      background-color: #f3c6bd;
    }

    &_fix {
      position: fixed;
      align-items: center;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      background-color: $bc-color-white;
      z-index: 10;
      @include for-large-up {
        display: none;
      }
    }
  }

  &__active-button {
    display: none;
    @include for-large-up {
      display: block;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  &__link {
    display: flex;
  }

  &__img {
    width: 48px;
    height: 48px;
    margin-right: 9px;
    @include for-large-up {
      width: 66px;
      height: 60px;
    }
  }

  &__name {
    font-size: 20px;
    font-weight: 700;
  }

  &__description {
    display: none;
    font-size: 12px;
    color: $text-color-secondary;
    @include for-large-up {
      display: block;
      font-size: 18px;
    }
  }
  &__description-footer {
    display: block;
  }
}

.navigation {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: -10px;
  left: -10px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 25px;
  background-color: #f3c6bdee;
  z-index: 2;
  transform: translateY(-200px);
  transition: all 0.6s;
  @include for-large-up {
    position: static;
    display: flex;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
    @include adaptiv-margin-right(57, 10);
    margin-left: auto;
    transform: translateY(0);
    transition: all 0s;
  }
  &_active {
    top: 0;
    transform: translateY(0);
    transition: all 0.6s;
  }

  &__item {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    text-align: center;
    @include for-large-up {
      display: inline-block;
      width: auto;
      margin-top: 7px;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;
      text-decoration: none;
    }

    &:not(:last-child) {
      @include adaptiv-margin-right(47, 10);
    }

    &_selected {
      font-weight: 700;
    }
  }

  &__arrow {
    display: none;
    padding-bottom: 2px;
    margin-left: 11px;
    width: 8px;
    height: 5px;
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png');
    background-repeat: no-repeat;
    @include for-large-up {
      display: inline-block;
    }
  }
}
.sandvich-menu {
  display: flex;
  width: 58px;
  height: 62px;
  border-left: 1px solid $border-color;
  @include for-large-up {
    display: none;
  }
}
.menu-btn {
  position: relative;
  margin: auto;
  width: 18px;
  height: 13px;
  background-color: transparent;
  z-index: 3;

  &__string {
    position: relative;
    display: block;
    top: 0px;
    right: 0;
    width: 18px;
    height: 2px;
    background-color: $burger-btn-color;
    &::before {
      content: '';
      position: absolute;
      top: 4px;
      right: 0;
      width: 18px;
      height: 2px;
      background-color: $burger-btn-color;
      transition: all 0.3s;
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 4px;
      width: 18px;
      height: 2px;
      background-color: $burger-btn-color;
    }
    &_active {
      background-color: transparent;
      transition: all 0.3s;

      &::before {
        top: 0;
        transform: rotate(45deg);
        background-color: $burger-btn-color-active;
      }

      &::after {
        bottom: 0;
        transform: rotate(-45deg);
        background-color: $burger-btn-color-active;
      }
    }
  }
}
