@import 'variables';
@import 'global.scss';
.test {
  font-size: 50px;
  font-weight: 700;
}
.headline {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  background-color: $bc-color-pink;
  @include for-large-up {
    padding-left: 130px;
    padding-right: 130px;
  }
  &__wrapper {
    padding-bottom: 36px;
    @include for-large-up {
      padding-top: 77px;
      padding-bottom: 77px;
    }
  }

  &__content {
    max-width: 100%;
    z-index: 1;
    padding-left: 15px;
    padding-right: 15px;
    @include for-large-up {
      position: absolute;
      max-width: 754px;
      padding-left: 0;
      padding-right: 0;
      z-index: 1;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-size: 50px;
    letter-spacing: -0.31px;
    @include for-large-up {
      margin-top: -2px;
      margin-bottom: 33px;
      height: 165px;
      font-size: 80px;
      letter-spacing: -0.5px;
    }
  }

  &__description {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 36px;
    @include for-large-up {
      line-height: 34px;
      height: 102px;
      width: 464px;
      margin-bottom: 60px;
    }
  }

  .headline__active-button {
    margin-right: 4px;
    margin-bottom: 15px;
    width: 100%;
    @include for-large-up {
      width: 160px;
      margin-bottom: 0;
    }
  }

  &__learn-more-button {
    margin-bottom: 33px;
    width: 100%;
    text-align: center;
    @include for-large-up {
      width: auto;
      margin-bottom: 0;
    }
  }

  &__banner {
    display: block;
    max-width: 100%;
    height: 100%;
    @include for-large-up {
      position: relative;
      top: 7px;
      right: -105px;
      margin-left: auto;
    }
  }
}
