.hiring {
  padding-top: 50px;
  padding-bottom: 50px;
  @include for-large-up {
    padding-top: 106px;
    padding-bottom: 110px;
  }

  &__inner {
    max-width: 750px;
    margin: auto;
  }

  &__description {
    max-width: 555px;
    margin: auto;
    text-align: center;
  }

  &__title {
    margin-bottom: 18px;
    font-size: 40px;
    letter-spacing: -0.36px;
    @include for-large-up {
      margin-bottom: 20px;
      font-size: 56px;
      letter-spacing: -0.5px;
    }
  }

  &__about-text {
    margin-bottom: 30px;
    padding-top: 3px;
    font-size: 24px;
    line-height: 34px;
    @include for-large-up {
      margin-bottom: 38px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    margin: auto;
    margin-bottom: 39px;
    font-size: 18px;
    font-weight: 700;
    line-height: 13px;
    border-radius: 2px;
    color: #fff;
    background-color: $bc-color-darkblue;
    transition: all 0.5s;
    @include for-large-up {
      margin-bottom: 110px;
      width: 247px;
    }

    &:hover {
      color: #fff;
      transform: scale(1.05);
    }

    &:active {
      color: $text-color-active-learbtn;
    }

    &:focus {
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%);
    }
  }
}
.vacancy-block {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border: 1px solid $border-color;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    @include for-large-up {
      padding: 26px;
    }

    &:not(:last-child) {
      margin-bottom: 17px;
    }

    &:hover {
      background-color: $bc-color-accent;
      color: #fff;
      .vacancy-block__btn {
        background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right-white.png');
      }

      .vacancy-block__text {
        color: #fff;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-left: 20px;
    @include for-large-up {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-left: 0;
    }
  }

  &__title {
    max-width: 200px;
    margin-bottom: 14px;
    font-size: 22px;
    line-height: 28px;
    @include for-large-up {
      margin-bottom: 0;
      max-width: 100%;
    }
  }

  &__text {
    margin-right: 0;
    margin-left: 0;
    flex-basis: none;
    color: $text-color-secondary;
    @include for-large-up {
      margin-right: 5px;
      margin-left: auto;
      flex-basis: 250px;
      text-align: center;
    }
  }

  &__button-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50px;
    height: 140px;
    background-color: #d5d4d5;
    border-radius: 0 8px 8px 0;
    @include for-large-up {
      justify-content: end;
      flex-basis: none;
      height: 100%;
      background-color: transparent;
      border-radius: 0;
    }
  }

  &__btn {
    width: 8px;
    height: 12px;
    border: 0;
    background-color: transparent;
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
