@import 'variables';

.hiring {
  padding-top: 106px;
  padding-bottom: 110px;

  &__inner {
    margin: auto;
    max-width: 750px;
  }

  &__description {
    margin: auto;
    max-width: 555px;
    text-align: center;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__about-text {
    padding-top: 3px;
    margin-bottom: 38px;
    font-size: 24px;
    line-height: 34px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 110px;
    width: 247px;
    height: 48px;
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    border-radius: 2px;
    color: #fff;
    background-color: $bc-color-darkblue;
    transition: all 0.5s;

    &:hover {
      color: #fff;
      transform: scale(1.05);
    }

    &:active {
      color: $text-color-active-learbtn;
    }

    &:focus {
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%);
    }
  }
}
.vacancy-block {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px;
    border: 1px solid $border-color;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;

    &:not(:last-child) {
      margin-bottom: 17px;
    }
    &:hover {
      background-color: $bc-color-accent;
      color: #fff;
      .vacancy-block__btn {
        background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right-white.png');
      }
      .vacancy-block__text {
        color: #fff;
      }
    }
  }

  &__title {
    font-size: 22px;
    line-height: 28px;
  }

  &__text {
    margin-left: auto;
    margin-right: 5px;
    flex-basis: 250px;
    color: $text-color-secondary;
  }

  &__btn {
    border: 0;
    width: 8px;
    height: 12px;
    background-color: transparent;
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
