@import 'variables';

.order {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $bc-color-grey;
  @include for-large-up {
    padding-top: 73px;
    padding-bottom: 73px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @include for-tablet {
      flex-direction: row;
    }
  }
  &__img {
    margin-bottom: 40px;
    padding-right: 45px;
    padding-left: 45px;
    max-width: 100%;
    @include for-tablet {
      margin-bottom: 0;
      padding-right: 0;
      padding-left: 0;
      min-width: auto;
    }
  }
}
.order-form {
  flex-basis: none;
  margin-left: 0;
  @include for-tablet {
    flex-basis: 550px;
    margin-left: -85px;
  }
  &__title {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    text-align: center;
    @include for-tablet {
      text-align: left;
    }
  }
  &__text {
    width: 92%;
    margin-bottom: 70px;
    font-size: 22px;
    line-height: 32px;
    @include for-large-up {
      margin-bottom: 26px;
    }
  }

  &__input-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    @include for-tablet {
      flex-direction: row;
    }
  }
  &__input {
    margin-bottom: 12px;
    padding: 17px 0 18px 15px;
    width: 100%;
    max-width: 100%;
    height: 48px;
    margin-right: 10px;
    border: 1px solid $border-color;
    @include for-tablet {
      margin-bottom: 0;
      max-width: 385px;
    }
    &::placeholder {
      color: $text-color-primary;
      text-align: center;
    }
  }
  &__terms-description {
    font-size: 14px;
    line-height: 22px;
    color: $text-color-secondary;
  }
  &__terms-link {
    font-size: 14px;
    line-height: 22px;
    text-decoration: underline;
    color: $text-color-blue;
  }
}
.active-button-order {
  width: 100%;
  @include for-tablet {
    width: 160px;
  }
}
