$text-color-primary: #2b292d;
$text-color-secondary: #2b292d99;
$text-color-orange: #f1592b;
$text-color-green: #009b4d;
$text-color-lightblue: #0189d1;
$text-color-darkblue: #3040c4;
$text-color-blue: #3141c5;
$text-color-active-btn: #f5c651;
$text-color-active-learbtn: #ed526d;
$text-color-hover-link: $text-color-darkblue;

$bc-color-accent: #3141c5;
$bc-color-darkblue: #3040c4;
$bc-color-lightskyblue: #00a1c623;
$bc-color-beige: #fcf0e3;
$bc-color-white: #fff;

$maxWidth: 1400;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;

  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}
